<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true" internalLogFile="logs\internal-log.txt" internalLogLevel="Warn">
	<variable name="user"    value="NoLogin"/>
	<variable name="version" value="Undetermined"/>

	<targets>
		<target name="aws"  type="AWSTarget" LogGroup="NLog.TachoClient" region="us-east-1" layout="Thread: ${threadid} | User: ${var:user} Version: ${var:version} | ${logger} ${level} | ${message} | ${exception:format=tostring}"/>
		<target name="file" type="File"      fileName="c:\logs\TachoClientLog.txt"          layout="${date:format=yy-MM-dd HH\:mm\:ss.fff} ${level} ${threadid} ${logger} ${message} ${exception:format=ToString}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="aws,file"/>
	</rules>
</nlog>